body{
    margin: 0;
    padding: 0; 
	background-image: url('/bg/hill.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.sect{
	 max-width: 1000px;
     margin: 0 auto;
}
.sec{
	color: white ;
	font-size: 40px;
	font-family: 'Gloria Hallelujah', cursive;
	margin-left: 270px;
	float: right;
	margin-top: 250px;
	border-bottom: 1px solid white;
}
.next a{
	float: right;
	color: white;
	font-size: 20px;
	margin-top: 15px;
	text-decoration: none;
	background-color: #1457;
	border-radius: 10px;
	padding: 10px;
}

.next a:hover{
	color: black;
	font-size: 22px;
	transition: 0.7s;
	background-color: #1458
}
#home{
  border-bottom: 1.5px solid white;

}